@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


body {
  width: auto;
  height: auto;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  overflow-x: hidden;
  font-family: Inter;
  position: relative;
}

button:focus {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
  z-index: 1;
  display: inline-block;
  top: 0;
  background: #000048;
  position: fixed;
  left: 0;
  width: 80px;
  height: 1024px;
  transition-property: left;
}

.sidebar img {
  text-align: center;
	align-items: center;
	display: flex;
	width: 24px;
  height: 24px;
  line-height: 60px;	
  position: relative;
  margin: auto;
  margin-top: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.sidebar a #mntp {
  width: 33px;
  height: 24px;
  object-fit: contain;
  margin-top: 32px;
  padding-bottom: 52px;
}

img.active {
  background-color: #03c56d;
  border-radius: 50px;
  padding-left: 10px; 
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar a #bottom {
	margin-top: 300%;
}

a.build-outline1 {
  margin-top: 40px;
}



.hdr {
  z-index: 9;
  background: #ffffff;
  width: auto;
  height: 88px;
  margin-left: 80px;
  justify-content: space-evenly;
  display: flex;
  
  
}

.leftside {
  width: 60%;
  height: 24px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  align-items: flex-start;
  margin: 1%;
  margin-left: 2%;
}

.rightside {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.dropbtn {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #d9d9e4;
  background-color: #ffffff;
  color: #000048;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.dropbtn img {
	padding-left: 10px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 16%;
  height: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding-top: 10px;
  
}

.dropdown-content a {
  color: #000048;
  text-decoration: none;
  display: block;
  text-align: center;
  
}

.show {
	display:block;
}

span {
  margin-right: 1rem;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #03c56d;
  font-size: 16px;
  border-radius: 50%;
  display: inline-block;
  
}

.dot2 {
  height: 12px;
  width: 12px;
  background-color: red;
  font-size: 16px;
  border-radius: 50%;
  display: inline-block;
  
}

.rght_bell img{
	width: 24px;
  height: 24px;
  margin-left: 32px;
  margin-bottom: 8px;
}

.rght_profileicon img {
	width: 40px;
  height: 40px;
  margin-left: 32px;
  padding-top:16px;
}

.mainbody{
	background-color: #f7f7f9;
	width: 100%;
  height: 936px;
	display: flex;
	padding-top: 32px;
}

.archivebody{
	background-color: #f7f7f9;
	width: 100%;
  height: 936px;
	display: block;
	padding-top: 32px;
}


.cardbody{
	background-color: #f7f7f9;
	width: 100%;
  height: 936px;
	display: block;
	padding-top: 32px;
}

.cmgsn {
  text-align: center;
  color: #000048;
  font-size: 120px;
}


.incoming {
	width: 32.5%;
  height: 780px;
  border-radius: 4px;
  box-shadow: 0 4px 32px 0 rgba(217, 217, 228, 0.3);
  background-color: #ffffff;
	margin-left: 136px;
	overflow-x: hidden; 
  overflow-y: hidden;
	scrollbar-width: thin;
	scrollbar-color: #000048;
}

.incoming h5 {
	width: 99px;
  height: 24px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 550;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
	margin-left: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.mainrect {
	width: 92%;
  height: 210px;
  background-color: #ffffff;
	margin: auto;
  margin-bottom: 18px;
  cursor: pointer;
}


#truetone:hover {
  
}

.details {
	margin-left: 24px;
  margin-right: 24px;

}



.idnumber {
	width: 50px;
  height: 20px;
  border-radius: 4px;
  background-color: #d9d9e4;
	text-align: center;
	font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
	font-weight: 600;
  margin-right: 24px;
  color: #000048;
	
	
}

.telnumber p {
	width: 97px;
  height: 18px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 550;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
	
}

.comment {
  width: 87%;
  max-height: 12vh;
  border-radius: 4px;
  background-color: #fff1cc;
  position: relative;
}


.comment:before {
  content: '';
  width: 2vh;
  height: 2vh;
  background-color: #fff1cc;
  top: -6px;
  left: 10%;
  transform: translateX(-50%) rotate(45deg);
  border-left: 2px #fff1cc;
  border-top: 2px #fff1cc;
  position: absolute;

}



.comment p {
  width: 86%;
  height: auto;
  max-height: 70px;
  text-align: left;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 550;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  padding: 10px 10px 10px 10px;
  overflow-y: scroll;

}

.count {
	background-color: #f4f4f7;
	width: 32px;
  height: 24px;
  border-radius: 4px;
	text-align: center;
}

.countincom {
	background-color: #f4f4f7;
	width: 32px;
  height: 24px;
  border-radius: 4px;
	text-align: center;
}

.countes {
	background-color: #03c56d;
	width: 32px;
  height: 24px;
  border-radius: 4px;
	text-align: center;
}

.countesincom {
	background-color: #03c56d;
	width: 32px;
  height: 24px;
  border-radius: 4px;
	text-align: center;
}



p.countes {
	width: 21px;
  height: 20px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
	text-align: center;
	padding-top: 2px;
	margin-right: 16px;
}


p.countesincom {
	width: 21px;
  height: 20px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
	text-align: center;
	padding-top: 2px;
  margin-right: 16px;
  margin-left: 24px;
}



p.count {
	width: 20px;
  height: 20px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  margin-right: 16px;
	text-align: center;
  padding-top: 2px;
  max-width: 40px;
}

p.countincom {
	width: 20px;
  height: 20px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  margin-right: 16px;
	text-align: center;
  padding-top: 2px;
  max-width: 40px;
  margin-left: 24px;
}


.dtl {
  margin-bottom: 24px;
}

.orderdetails_1 {
  width: 60%;
	display: flex;
  justify-content: flex-start;
}

.order_type_pickup {
	object-fit: contain;
	background-color: #f4f4f7;
	border-radius: 50px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	position:absolute;
  margin-left: 330px;
  width: 24px;
  height: 24px;
  margin-left: 6px;
	
	
}

.order_type_delivery {
	object-fit: contain;
	background-color: #f4f4f7;
	border-radius: 50px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
  width: 24px;
  height: 24px;
  margin-left: 6px;
	
	
}

p.order_status {
	font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;  
	color: #000048;
  opacity: 0.6;
  margin-left: 8px;
}



.orderdetails_2 {
	display: flex;
  justify-content: flex-start;
}

.foodname {
	width: 100%;
  height: auto;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
}

p.fooddetails {
	width: 162px;
  height: auto;
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000048;
  margin-left: 36px;
  margin-bottom: 24px;
  display: inline;
		
}

hr {
	width: 60%;
  color: #f0f0f4;
  opacity: 0.2;
  margin: 0px 300px 0px 0px
}

.adtapmadim {
  position: relative;
}

.makeStyles-root-22 {
  height: 936px !important;
}

p.total {
	width: 204px;
  height: 39px;
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  margin-top: 6px;
  margin-bottom:1px;
}

.btns {
  width: 100%;
  display: flex;
  bottom: 0;
  position: absolute;
  margin-bottom: 16px;
}

.btnes {
  position: absolute;
  bottom: 0;
  width: 40%;
  display: flex;
  margin-bottom: 10px;
}
.next {
  background-color: #03c56d;
	border:none;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	font-family: Inter;
	font-weight: 550;
  width: 15.5%;
  height: 56px;
}

.reject {
  background-color: #fee6ed;
	border:none;
  border-radius: 4px;
  color: #ee0551;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	font-family: Inter;
	font-weight: 550;
  width: 15.5%;
  height: 56px;
  margin-right: 16px;
}

.btns button {
	
	margin-top: 16px;
}

.ready::-webkit-scrollbar{
	width: 1px;
}

body::-webkit-scrollbar{
	width: 1px;
}

.orderscroll::-webkit-scrollbar{
	width: 1px;
}

.kuryerlerlist::-webkit-scrollbar{
	width: 1px;
}
.comment p::-webkit-scrollbar{
	width: 1px;
}

.sifarisler::-webkit-scrollbar{
	width: 1px;
}

.incominglist::-webkit-scrollbar{
	width: 0.1px;
}

.outgoing {
	width: 32.5%;
  height: 780px;
  border-radius: 4px;
  box-shadow: 0 4px 32px 0 rgba(217, 217, 228, 0.3);
  background-color: #ffffff;
	margin-left: 42px;

}

.outgoing h5 {
	width: 119px;
  height: 24px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 550;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
	margin-left: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.ready{
	width: 13%;
  height: 780px;
  border-radius: 4px;
  box-shadow: 0 4px 32px 0 rgba(217, 217, 228, 0.3);
  background-color: #ffffff;	
	margin-left: 42px;
	overflow-x: hidden; 
  overflow-y:inherit; 
	position: relative;

}

.ready h5 {
	width: 99px;
  height: 24px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 550;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
	margin-left: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.completedorders {
  width: 82%;
  height: auto;
  border-radius: 4px;
  border: solid 1px #d9d9e4;
  background-color: #ffffff;
	text-align: center;
	margin: auto;
	margin-bottom: 24px;
}


.idnumberes {
	width: 50px;
  height: 20px;
  border-radius: 4px;
  background-color: #d9d9e4;
	text-align: center;
	font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
	font-weight: 600;
	margin-top: 10px;
	margin-left: 40px;
}
p.usermini {
	
	width: 60px;
  height: 16px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000048;
	margin-left: 36px;

}

.pickup {
  width: 48px;
  height: 48px;
  background-color: #f4f4f7;
	border-radius: 50%;
	margin-left: 42px;
}

.pickup img {
	text-align: center;
  margin-top: 12px;
  width: 24px;
  height: 24px;
}

.delivery {
  width: 48px;
  height: 48px;
  background-color: #f4f4f7;
	border-radius: 50%;
	margin-left: 42px;
}

.delivery img {
	text-align: center;
  margin-top: 12px;
  width: 24px;
  height: 24px;
}

p.ordertype {
	width: 53px;
  height: 18px;
  opacity: 0.6;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
	margin-left: 42px;
	padding-top: 10px;
}



p.timer {
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
	text-align: center;
	align-content: center;
	display: block;
}

p.deadline_time {
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  margin-left: 10px;
}


.popupwindow {
  z-index: 1;
  width: 50%;
  height: 416px;
  display: none;
  background-color:rgba(0, 0, 73, 0.5);
  margin-left: 80px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 302px;
  padding-left: 268px;
  padding-right: 284px;
  padding-bottom: 306px;
}




.popupwindow.open {
  z-index: 1;
  width: 888px;
  height: 416px;
  display: block;
  background-color:rgba(0, 0, 73, 0.5);
  margin-left: 80px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 302px;
  padding-left: 268px;
  padding-right: 284px;
  padding-bottom: 306px;
}

.lighboxpop {
  z-index: 1;
  width: 888px;
  height: 416px;
	border-radius: 4px;
	display: flex;
	background-color: white;
	
}

.orderdetails_mini {
	width: 436px;
	height: auto;
	border-radius: 4px;
  border: solid 1px #d9d9e4;
  background-color: #ffffff;
	margin-left: 16px;
	margin-top: 16px;
	margin-bottom: 24px;
}
 

.acceptance {
	width: 436px;
	height: 376px;
	text-align: center;
	display: block;
	align-items: center;
	align-content: center;
	margin-top: 26px;
	background-color: white;
}

.acceptance.closed {
	width: 436px;
	height: 376px;
	text-align: center;
	display: none;
	align-items: center;
	align-content: center;
	margin-top: 26px;
	background-color: white;
}

.acceptance h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
	font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000048;  
	margin-top: 26px;
}

.acceptance p {
	font-family: Inter;
  font-size: 16px;
  font-weight: 550;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000048;
}


.popbtns {
	margin-top: 16px;
	
	
}

.accept {
	background-color: #03c56d;
	border:none;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	letter-spacing: normal;
	line-height: 1.5;
  font-size: 16px;
	font-family: Inter;
	font-weight: 550;
  width: 38%;
  height: 56px;
	margin-bottom: 16px;
  margin-top: 20px;
  margin-left: 16px;
}


.change {
	background-color: #ccf3e1;
	border:none;
  border-radius: 4px;
  color: #03c56d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	letter-spacing: normal;
	line-height: 1.5;
  font-size: 16px;
	font-family: Inter;
	font-weight: 550;
  width: 38%;
  height: 56px;
  margin-bottom: 16px;
  margin-top: 20px;
  margin-left: 1%;
}



.cancel {
	background-color: #ffffff;
	border:solid 1px #ee0551;
  border-radius: 4px;
  color: #ee0551;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	letter-spacing: normal;
	line-height: 1.5;
  font-size: 16px;
	font-family: Inter;
	font-weight: 550;
  width: 15.5%;
  height: 56px;
}

#applybtn {
	background-color: #03c56d;
	border:solid 1px #03c56d;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	letter-spacing: normal;
	line-height: 1.5;
  font-size: 16px;
	font-family: Inter;
	font-weight: 550;
  width: 15.5%;
  height: 56px;
  margin-bottom: 10px;
  margin-left: 16px;
}

input.enterpasscred {
  width: 100%;
  outline: none !important;
  border: none;
  margin-left: 5%;
}

.change_estimate {
  display: block;
	width: 75%;
  margin-bottom: 30px;
  margin-left: 6%;
  
}

.pickup_text {
  width: 100%;
  text-align: center;
  align-items: center;
}

.change_estimate.open {
  display: inline-block;
	width: 436px;
	margin-bottom: 30px;
}

.xatirlatici {
  width: 100%;
}

.choosemin {
  cursor: pointer;
  display: inline-block;
  width: 20%;
  height: 56px;
  border-radius: 4px;
  border: solid 1px #03c56d;
  background-color: rgba(3, 197, 109, 0.2);
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #03c56d;
  padding-left: 6px;
	margin-right: 16px;
	margin-bottom: 16px;
}

.choosemines {
  display: inline-block;
  width: 20%;
  height: 56px;
  border-radius: 4px;
  border: solid 1px #ffb800;
  background-color: rgba(255, 184, 0, 0.2)  ;
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffb800;
  padding-left: 6px;
	margin-right: 16px;
	margin-bottom: 16px;
}


p.minute { 
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #03c56d;
  padding-right: 8px;
}


.value {
  font-family: Inter;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  padding-bottom: 5px;
}

input.changetime {
  width: 80%;
  height: 24px;
  border:none;
  background-color: transparent;
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

input.changetime:focus {
  width: 80%;
  height: 24px;
  border:none;
  background-color: transparent;
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #03c56d;
}


input.changetime::placeholder {
  font-family: Inter;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color:white;

}

input:focus::placeholder {
  color: transparent;
} 


.statbody{
  
	background-color: #f7f7f9;
	width: 100%;
  height: 936px;
	display: block;
  padding-top: 8px;
  position: relative;
}

.statboard {
  width: 90%;
  height: 160px;
  display: block;
  margin-left: 136px;
  margin-top: 26px;
}

.board {
  width: 20%;
  height: 146px;
  border-radius: 4px;
  box-shadow: 0 4px 32px 0 rgba(217, 217, 228, 0.3);
  background-color: #ffffff;
  float: left;
  margin-right: 32px;
}

p.ordercounttype {
  width: 106px;
  height: 21px;
  opacity: 0.4;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #031f73;
  margin: 24px 138px 12px 24px;
}

p.totalcount {
  width: 88px;
  height: 31px;
  font-family: Inter;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #031f73;
  margin: 0px 156px 0px 24px;

}

img.updown {
  display: inline;
  object-fit: fill;
  position: relative;
  width: 18px;
  height: 18px;
  font-family: material;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #03c56d;
  margin: 14px 6px 22px 24px;
  padding: 8px 8px 8px 8px;
  background-color: rgba(3, 197, 109, 0.3);
  border-radius: 50%;
}


a.updownrate {
  display: flex;
  align-items: flex-start;
  
}

p.rateer {
  width: 78px;
  height: 25px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #03c56d;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  float: right;
  margin-right: 126px;
  position: relative;
  
}

.dataKey {
  display: none;
}

.chartbody {
  width: 90%;
  height: 532px;
  display: flex;
  margin-left: 80px;
}


.statChart {
  width: 64.7%;
  height: 484px;
  border-radius: 4px;
  background-color: #ffffff;
  margin-left: 56px;
  float: left;
  margin-top: 20px;
}

.showtype {
  width: 268px;
  height: 146px;
}
.loginpagee {
  background-color: #ececec;
}
.droprange {
  margin-left: 44%;
  float: right;
}

.statrightch {
  width: 25%;
  margin-left: 32px;
  margin-top: 20px;
}

.roundchart {
  width: 80%;
  height: 321px;
  background-color: #ffffff;
  border-radius: 4px;
}

.boshbishey {
  width: 50px;
  height: 40px;
}
.earningdetails {
  margin-top: ;
}

.totalearning {
  width: 80%;
  height: 317px;
  border-radius: 4px;
  background-color: #03c56d;
  margin-top: 20px;
  margin-right: 76px;
}

p.totalearned {
  width: 100%;
  height: 21px;
  opacity: 0.7;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
  padding-top: 61px;
  
}

p.balance {
  width: 100%;
  height: 31px;
  font-family: Inter;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
}

.poporderlist {
  margin-top: 20px;
  width: 100%;
  height: 200px;
  border-radius: 4px;
  background-color: #ffffff;
  display: block;
}

.poporders {
  display: flex;
  width: 100%;
  height: 30px;
  margin-bottom: 28px;
}


p.popularord {
  width: 92%;
  height: 21px;
  opacity: 0.4;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #031f73;
  float: left;
  margin-left: 23px;
}

a.seeall p {
  width: 80px;
  height: 25px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #03c56d;
  float: right;
    
}

.yoxlagorm {
  width: 100%;
  text-align: center;
}

.balancestat {
  width: 18px;
  height: 18px;
  object-fit: contain;
  font-family: material;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  background-color: #4cd597;
  padding: 8px 8px 8px 8px;
}

p.balancerate {
  width: 100%;
  height: 25px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
}

p.learnbalance {
  width: 100%;
  height: 25px;
  opacity: 0.8;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
}

.toporders {
}

.toporderdetails {
  width: 100%;
  height: 24px;
  display: flex;
  margin-left: 2%;
}

p.ordernid {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  color: #000048;
}

.droprange {
  position: absolute;
}

#dropdown-basic-button {
  width: 131px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #d9d9e4;
  background-color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  margin-top: 6px;
  margin-right: 24px;
  
}

p.orderplace {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #f4f4f7;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  margin: 0px 0px 0px 24px;
  text-align: center;
}

p.orderName {
  width: 71%;
  height: 24px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  margin: 0px 0% 0px 12px;
}

p.increaserate {
  width: 61px;
  height: 19px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #03c56d;
  margin: 2px 23px 0px 0px;
}

p.topordercount {
  width: 45px;
  height: 24px;
  opacity: 0.6;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000048;
  margin: 0px 24px 0px 0px;
}

img.popularup {
  width: 16px;
  height: 16px;
  object-fit: contain;
  font-family: material;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #03c56d;
  margin-right: 10px;
}

hr.downside {
  width: 90%;
  height: 1px;
  color: #d9d9e4;
  margin: 16px 0px 15px 40px;
}

#dropdowncontent {
  display: block;
  width: 131px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000048;
  position: static;
  text-decoration: none;
  
}

#dropdowncontent:hover {
  background-color: rgba(217, 217, 228, 0.3);
}

.statdrop {
  border-radius: 4px;
  box-shadow: 0 4px 32px 0 rgba(217, 217, 228, 0.3);
}


.builderbody {
	background-color: #f7f7f9;
	width: 100%;
  height: 936px;
	padding-top: 0px;
  position: relative;
}

.categorize {
  width: 260px;
  height: 930px;
  box-shadow: 4px 20px 25px 0 rgba(112, 112, 112, 0.15);
  border: solid 1px #ececec;
  background-color: #ffffff;

}

.headmenu {
  position: relative;
  width: 260px;
  height: 990px;
  text-align: center;
  box-shadow: 4px 20px 25px 0 rgba(112, 112, 112, 0.15);
  border: solid 1px #ececec;
  background-color: #ffffff;
  margin-left: 80px;

}

.Blmlr {
  width: 260px;
  height: 39px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #03c56d;
  text-align: center;
  border-bottom: solid 1px #ececec;
  margin-bottom: 0px;
}

.categoryname {
  width: 260px;
  height: 49px;
  text-align: center;
  border: 1px solid #eeeeee;
  display: flex;
}

.catename {
  width: 69px;
  height: 19px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 72, 0.6);;
  text-align: left;
  margin-left: 15px;
  text-decoration: none;
}
.categoryham {
  width: 24px;
  height: 24px;
  margin: 10px 38px 10px 16px;
}



.catbut {
  width: 240px;
  height: 48px;
  display: flex;
  margin: auto;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #03c56d;
  margin-top: 620px;
  background-color: white;
  border: 1px solid #03c56d ;
  border-radius: 4px;
}

p.addcatn {
  margin: 12px 38px 14px 0px;
  
}




.detailsforid {
  display: flex;
  margin-top: 12px;
  margin-left: 24px;

}

.orderidnum {
    width: 48px;
    height: 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #000048;
    background-color: #f4f4f7;
    border-radius: 4px;
    margin-top: 12px;
    text-align: center;
  
}

img.orderdeltyp {
  width: 24px;
  height: 24px;
  background-color: #f4f4f7;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}

img.paymenttype {
  width: 24px;
  height: 24px;
  background-color: #f4f4f7;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
}

.sifariscidetal {
  display: flex;
  color: #000048;
  font-family: Inter;
  font-size: 14px;
  font-weight: 550;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-left: 24px;
  margin-top: 2px;
  align-items: flex-start;
}

.sifarisler {
  width: 100%;
  max-height: 60vh;
  height: auto;
  overflow-y: scroll;
  
}

.totalprice_button {
  position: absolute;
  margin-top: 12px;
  height: 17vh;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.part1 p {
  margin-top: 1px;
  margin-bottom: 2px;

}

p.sifarisci {
  font-size: 16px;
  font-weight: 600;
  margin-top: 1px;
  margin-bottom: 6px;

}

.mehsulsayi {
  display: flex;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  margin-left: 24px;
  
}

.vaxt {
  width: 35px;
  height: 15px;
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  margin-left: 20%;
}

.yekunmebleg {
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
}


.part2 {
  margin: 24px 25px 8px 51px;  
  position: relative;
  
}
.cardleft {
  width: 70%;
}

.cardright {

}

  .incominglist {
    height: 690px;
    overflow-y: scroll;
	  scrollbar-width: thin;
  }

  .modal {
    z-index: 2;
    display: block;
    position: fixed;
    left: 4%;
    right: 0px;    
    top: 0px;
    width: 100%;
    height: 100%;
    /*box-shadow: 0.6em -1em 0em 52em rgba(0, 0, 73, 0.6);*/
    background-color:rgba(0, 0, 73, 0.6);
    cursor: auto;
    
  }

  .modalout {
    z-index: 2;
    display: block;
    position: fixed;
    left: 4%;
    right: 0px;    
    top: 0px;
    width: 100%;
    height: 1056px;
    /*box-shadow: 0.6em -1em 0em 52em rgba(0, 0, 73, 0.6);*/
    background-color:rgba(0, 0, 73, 0.6);
    cursor: auto;
    
  }

  .archivemodal {
    z-index: 1;
    display: block;
    position: fixed;
    margin-left: -5%;
    top: 0px;
    width: 100%;
    height: 1056px;
    /*box-shadow: 0.6em -1em 0em 52em rgba(0, 0, 73, 0.6);*/
    background-color:rgba(0, 0, 73, 0.6);
    cursor: auto;
  }

  .popuprect {
    width: 40%;
    background-color: white;
    height: 96%;
    padding-top: 5vh;
    padding-left: 4%;
    float: right;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

  }

  .sifarisdetal {
    display: flex;
    height: 40px;
  }



  .ttmr {
    margin-left: 30px;
  }


  p.phnumber {
    width: 98px;
    height: 1.4vh;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000048;
    margin-bottom: 10px;
    margin-top: 12px;
  }

  p.unvan {
    margin-top: 4px;
  }
  

  p.unvani {
  width: 102px;
  height: 1.7vh;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  margin-top: 1px;
  }

  p.musteridetal {
  margin-bottom: 1px;
  width: 156px;
  height: 26px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  }

  button.closebtes {
    text-decoration: none;
    background-color: transparent;
    border: none;
    position: absolute;
    margin-top: 30px;
    right: 5%;
  }

  button.closebt {
    text-decoration: none;
    background-color: transparent;
    border: none;
    position: absolute;
    margin-top: 30px;
    right: 5%;
  }

  button.gobackbt {
    text-decoration: none;
    background-color: transparent;
    border: none;
    position: absolute;
    margin-left: -26px;
    margin-top: -28px;
  }


  .clsbtnmg {
    padding: 10px;
    height: 28px;
    margin-top: -50%;
    cursor: pointer;

  }

  .small {
    width: 100%;
    height: 210px;
    border-radius: 6px;
    border: solid 1px #d9d9e4;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 16px;
    cursor: pointer;
    background-color: #ffffff;
    display: flex;
  }

  .hideme {
    display: none;
    width: 430px;
    height: 210px;
    background-color: #ffffff;
    position: absolute;
    border: solid 1px #d9d9e4;
    border-radius: 6px;

  }

  .outbtns {
    margin: 43px 100px 42px 100px;
  }

  .rdyfordeli {
    width: 236px;
    height: 56px;
    border-radius: 4px;
    background-color: #03c56d;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
  }


  .moredetails {
    width: 236px;
    height: 56px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #03c56d;
    border: none;
    cursor: pointer;
  }

  .small {
    width: 100%;
    height: 210px;
    border-radius: 6px;
    border: solid 1px #d9d9e4;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 16px;
    cursor: pointer;
    background-color: #ffffff;
  }

  .medium {
    width: 100%;
    height: 210px;
    border-radius: 6px;
    border: solid 1px #d9d9e4;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 16px;
    display: flex;
  }

  
  .small:hover {
    width: 100%;
    height: 210px;
    border: 1px solid white;
    border-radius: 6px;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 30px 0px rgba(160,160,160,0.2);
  }

  .medium:hover {
    width: 100%;
    height: 210px;
    border: 1px solid white;
    border-radius: 6px;
    background-color: #ffffff;
    margin: auto;
    margin-bottom: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 30px 0px rgba(160,160,160,0.2);
    display: flex;
  }

  .detallar {
    width: 100%;
    height: 100% !important;
  }

  .detallar_credent {
    display: flex;
  }

  .credentials_first {
    width: 67%;
  }


  .credentials_first_head {
    height: 5vh;
    display: flex;
  }

  .popdiv {}

  .questionary {
    width: 100%;
    height: 7vh;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000048;
    margin: 14px 0% 18px -10%;
    text-align: center;
  }

  .informative {
    width: 80%;
    height: 3vh;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000048;
    margin: 10px 0px 4vh 0px;
  }

  .timeschedule {
    width: 100%;
  }

  #pickinup {
    display: none;
    width: 100%;
    height: 100% !important;
  }

  #timeslot {
    display: none;
  }

  .nomreuser {
    display: flex;
    margin-left: 36px;
  }

  .mininom {
    width: 98px;
    height: 15px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000048;
    margin-top: 0px;
    margin-bottom: 7px;
  }
  .nomunvanmeb {
    display: flex;
    margin-left: 36px;
    margin-bottom: 10vh;
  }

  .miniunv {
    width: 102px;
    height: 17px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000048;
    margin-top: 0px;
  }

  .minimebleg {
    width: 123px;
    height: 29px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000048;
    margin-top: 12px;
    margin-bottom: 14px;
  }

  .meb {
    margin-left: 30%;
  }

  .choosemin:focus  {
    border: solid 1px #03c56d;
    background-color: #03c56d;
    color: #ffffff;
  }

  .choosemines:focus {
    border: solid 1px #ffb800;
    background-color: #ffb800;
    color: #ffffff;
  }

  .borderboxorig {
    width: 65%;
    display: none;
    height: 57vh;
    border-radius: 4px;
    border: solid 1px #dbdbdb;
    margin-left: 8%;
    margin-bottom: 17px;
  }

  .orderscroll {
    height: 44vh;
    overflow-y: scroll;
    scrollbar-width: 1px;
    margin-bottom: 0px;
  }
  
  .borderboxmini {
    width: 65%;
    height: auto;
    border-radius: 4px;
    border: solid 1px #dbdbdb;
    margin-left: 8%;
    margin-bottom: 2vh;
  }

  .orderscrollmini {
    height: 15vh;
    overflow-y: hidden;
    scrollbar-width: 1px;
    margin-bottom: 0px;
  }

  .dropseemore {
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    border: solid 1px #dbdbdb;
    width: 11px;
    height: 11px;
    object-fit: contain;
    position: absolute;
    cursor: pointer;
    background-color: #ffffff;
    margin-top: -2vh;
    margin-left: 11.5%;
  }

  .nomorecontent {
    height: auto;
  }

  .showless {
    border-radius: 50%;
    padding: 1px 1px 1px 1px;
    border: solid 1px #dbdbdb;
    width: 30px;
    height: 30px;
    object-fit: contain;
    position: absolute;
    background-color: #ffffff;
    margin-left: 11.8%;
    cursor: pointer;
 
  }

  .usernn {
    display: flex;
    height: 6vh;
  }

  p.useridnum {
    width: 48px;
    height: 2vh;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000048;
    background-color: #F4F4F7;
    border-radius: 4px;
    margin: 2vh 16px 15px 24px;
  }

  .useriddet {
    width: 70%;
    height: 2vh;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000048;
    margin: 2vh 0px 0px 0px;
  }

  .userunvan {
    display: flex;
    height: 5vh;
  }
  .userunvminid {
    width: 65%;
  }
  .usernom {
    width: 98px;
    height: 15px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000048;
    margin-left: 24px;
    margin-top: 0px;
    margin-bottom: 7px;
  }
  
  .userunv {
    width: 102px;
    height: 17px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000048;
    margin-left: 24px;
    margin-top: 0px;    
  }

  .usermebleg {
    width: 123px;
    height: 29px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000048;
    margin-top: 12px;
    margin-bottom: 0px;
    
  }
.hrmini {
  margin-left: 24px;
}

.profilepanelbody {
	background-color: #f7f7f9;
	width: 100%;
  height: 936px;
  display: flex;
}

.panelboy {
  width: 45%;
  height: 935px;
  background-color: #ffffff;
  margin: 0px 0% 0px 30%;
}

.panelboyutili {
  margin-top: 50px;
  margin-left: 145px;
}

.personalcab {
  width: 153px;
  height: 29px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #03c56d;
}

.workinghours {
  width: 110px;
  height: 29px;
  opacity: 0.4;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  margin-left: 30px;
}

.panelboyuser {
  display: flex;
  margin-top: 50px;
  margin-left: 10%;
  width: 100%;
}

.personalcred {
  width: 62%;
}

.adcred {
  margin-bottom: 6px;
  margin-top: 0px;
  margin-left: 20px;
  height: 19px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 72, 0.25);
}

.restadcred {
  margin-top: 0px;
  margin-left: 20px;
  height: 31px;
  font-family: Inter;
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #03c56d;
}
.editperson {
  cursor: pointer;
}
.personalprflimg {
  width: 60px;
  height: 60px;
}

.profileimgstatus {
  width: 86px;
  height: 19px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 72, 0.4);
  margin: 75px 10% 20px 10%;
}

.profileimgstatusadd {
  width: 101px;
  height: 19px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #03c56d;
  margin: 75px 0px 20px 0px;
}

.panelboytestim {
  margin-top: 40px;
  margin-left: 154px;
  display: flex;
}

.panelprflinput {
  width: 68%;
  height: 48px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 72, 0.25);
  background-color: #ffffff;
  margin-bottom: 16px;
}

.poppassword {
  display: none;
}



.popupusdet {
  margin-left: 50px;
  margin-top: 30px;
  height: 500px;
}

::placeholder {
  text-align: left;
  padding-left: 16px;
  width: 48px;
  height: 19px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #dbdbdb;

}

label {
  font-family: Inter;
  font-size: 50px;
}

.saataraligi {
  display: flex;
}

.MuiTab-wrapper {
  text-align: left;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  width: 100%;
  display: flex!important;
  align-items: flex-start !important;
  flex-direction: column!important;
  justify-content: left!important;
  padding-left: 10px;
  text-transform: none !important;
}




.MuiTab-textColorInherit {
  border: 10px solid rgba(112, 112, 112, 0.15);
}
.MuiBox-root {
  width: 100% !important;
}

.menubody {
  margin-left: 100%;
}

.menugrid {
  position: absolute;
  width: 82%;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  padding: 0px;
  margin-top: -6%;
}
.menuelement {
  width: 1200px;
  height: auto;
}
.divelement {
  padding-top: 20px;
}

.yenimehsul {
  width: 240px;
  height: 262px;
  border-radius: 10px;
  background-color: #03c56d;
  margin-left: 30px;
  cursor: pointer;

}

.yenitext {
  width: 92px;
  height: 19px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0px 74px 0px 74px;
}

.yeniimg {
  width: 74.5px;
  height: 74.5px;
  object-fit: contain;
  margin: 77.8px 82.2px 17.8px 82.2px;
}

.divmehsulelm {
  width: 89%;
  height: 254px;
  max-height: 262px;
  background-color: #ffffff;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 4px 20px 25px 0 rgba(112, 112, 112, 0.15);
}

.mehsulsek {
  width: 100%;
  height: 170px;
  margin: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.mehsuldetal {
  margin-top: 0px;
  width: 100%;
  height: 66px;
  max-height: 78px;
  background-color: #ffffff;
}

.mehsulad {
  width: 100%;
  height: auto;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595959;
  margin-top: 6px;
  margin-left: 16px;
  margin-bottom: 4px;
}

.mehsulinqr {
  width: 90%;
  height: 10px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #afafaf;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 16px;
  font-family: 'Inter';
  max-height: 30px;

}

.mehsulqiymet {
  width: 90%;
  height: 17px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595959;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-left: 16px;
  font-family: 'Inter';

}

.solox {
  width: 34px;
  height: 34px;
  border-radius: 4px;
  border: solid 1px #cacaca;
  background-color: #ffffff;
  cursor: pointer;

}

.menupagenum {
  width: 34px;
  height: 34px;
  border-radius: 4px;
  border: solid 1px #cacaca;
  background-color: #ffffff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 34px;
  letter-spacing: normal;
  color: #cacaca;
  margin-left: 6px;
  margin-top: 0px;
  cursor: pointer;
}

.sagox{
  width: 34px;
  height: 34px;
  border-radius: 4px;
  border: solid 1px #848484;
  background-color: #ffffff;
  cursor: pointer;
  margin-left: 6px;

}

.menupage {
  display: flex;
  margin-left: 40%;
  margin-top: 26px;
  
}

.addmehsulpopup {
  display: none;
}
.editprofilpopup {
  display: none;
}

.addkuryerpopup {
  display: none;
}

#editkuriyer {
  display: block;
}

.addmehsulpopup {
  display: block;
}

.modalem {
  z-index: 1;
  display: block;
  position: fixed;
  margin-left: -270px;
  top: 0px;
  width: 1444px;
  height: 1056px;
  /*box-shadow: 0.6em -1em 0em 52em rgba(0, 0, 73, 0.6);*/
  background-color:rgba(0, 0, 73, 0.6);
  cursor: auto;
  
}
.modalprof {
  z-index: 1;
  display: block;
  position: fixed;
  left: 4%;
  top: 0px;
  width: 100%;
  height: 1024px;
  /*box-shadow: 0.6em -1em 0em 52em rgba(0, 0, 73, 0.6);*/
  background-color:rgba(0, 0, 73, 0.6);
  cursor: auto;
  
}

.sekilelave {
  width: 388px;
  height: 80px;
  border-radius: 6px;
  border: dashed 4px #03c56d;
  background-color: #ffffff;
  color: #03c56d;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.popuprectem {
  width: 544px;
  background-color: white;
  height: 960px;
  padding-top: 56px;
  padding-left: 56px;
  float: right;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.popuprectprof {
  width: 40%;
  background-color: white;
  height: 966px;
  padding-top: 56px;
  padding-left: 3%;
  float: right;
  display: block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.popuprectkuriyer {
  width: 40%;
  background-color: white;
  height: 100%;
  padding-top: 56px;
  padding-left: 56px;
  float: right;
  display: block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mehsulelavedet {
  margin-left: 50px;
  margin-top: 74px;
}

.sekilelave {
  margin-bottom: 16px;
}

.yaddasaxla {
  width: 388px;
  height: 48px;
  border-radius: 4px;
  background-color: #03c56d;
  border: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 500px;
}

.popprflimg {
  width: 60px;
  height: 60px;
  margin: 60px 0px 0px 10%;
}

.popupuser {
  display: flex;
  width: 80%;
}

.gunadi {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  margin-bottom: 44px;
  margin-top: 0px;
  margin-right: 0px;
  width: 170px;
}
.heftegun {
  margin-top: 10px;
}

.changepass {
  width: 83px;
  height: 17px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 72, 0.6);
  margin-top: 6px;
  cursor: pointer;
}

.heftegunsaat {
  
  margin-left: 40px;
}

.saataraligi input {
  width: 80px !important;
  height: 38px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 72, 0.25);
  background-color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 16px;
}

input.isworkin {
  margin-left: 0px !important;
  margin-bottom: 40px !important;
  width: 14px !important;
  height: 14px;
  border: solid 1px #03c56d;
  margin-top: 14px;
}

.saveallch {
  width: 388px;
  height: 48px;
  border-radius: 4px;
  background-color: #03c56d;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  border: none;
  margin: 100px 163px 40px 163px;
}

.saveallchpop {
  width: 64%;
  height: 48px;
  border-radius: 4px;
  background-color: #03c56d;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  border: none;
  margin: 30px 50px 40px 50px;
}



.popuprectout {
  width: 40%;
  background-color: white;
  height: 1000px;
  padding-top: 56px;
  padding-left: 56px;
  float: right;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

button.readyfordelivery {
  width: 65%;
  height: 48px;
  border-radius: 4px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  background-color: #03c56d;
  border: none;
  margin-left: 56px;
}

.totalprice_buttonout {
  margin-top: 12px;
  height: 125px;
}

.panelcatgs {
  margin-left: 10%;
  width: 80%;
}

.kuryerlerhead {
  display: flex;
}
.issaathead {
  display: flex;
}

.kuryeradd {
  cursor: pointer;
  
}

.issaathead img {
  width: 24px;
  height: 24px;
  margin-top: 18px;
  margin-left: 10%;
}

.kuryerlerhead img {
  width: 24px;
  height: 24px;
  margin-top: 28px;
}

.kuryerlerhead p {
  width: 84%;
  height: 29px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000048;
}

.issaathead p {
  width: 78.35%;
  height: 29px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000048;
  margin-top: 10px;
}

.kuryerlerbody {
  display: none;
}

.kuryerdropdown {
  cursor: pointer;
}

.kuryerdropup {
  display: none;
  cursor: pointer;
}

.kuriyer p {
  margin-bottom: 10px;
}

.popuprectkuriyer p {
  width: 206px;
  height: 29px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}

.popuprectkuriyer input {
  width: 70% !important;

}

.popuprectkuriyer div {
  margin-top: 46px ;
  margin-left: 6%;
  height: 60vh;
}

.elavekuryer {
  width: 26%;
  height: 48px;
  border-radius: 4px;
  background-color: #03c56d;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-left: 50px;
  margin-bottom: 40px;
}

.popuprectkuriyer button {
  width: 64.4%;
  height: 48px;
  border-radius: 4px;
  background-color: #03c56d;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-left: 6%;
}

.kuryerlercategory {
  width: 88%;
  display: flex;
}

.kryad {
  width: 210px;
  height: 17px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 72, 0.4);
  margin-bottom: 0px;

}

.krynom {
  width: 165px;
  height: 17px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 72, 0.4);
  margin-bottom: 0px;

}

.krystat {
  width: 80px;
  height: 17px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 72, 0.4);
  margin-bottom: 0px;
}

.kuriyer {
  display: flex;
  margin-top: 10px;
}

.esasdetal {
  width: 210px;
  height: auto;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000048;
  margin-top: 0px;
}

.esasdetalnom {
  width: 165px;
  height: auto;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000048;
  margin-top: 0px;

}

.kuriyerstatus {
  width: 80px;
  height: 19px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #03c56d;
  margin-right: 3%;
  margin-top: 0px;

}

.kuriyerduzelish {
  margin-left: 3%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  
}
.kuriyer {
  width: 100%;
}
.kuriyerlihead {
  width: 200px;
}

.searcharchive {
  width: 78.4%;
  height: 136px;
  border-radius: 8px;
  background-color: #ffffff;
  margin-left: 10%;
  display: flex;
}

.searchbyname {
  width: 67.7%;
  height: 56px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 72, 0.25);
  background-color: #ffffff;
  margin-top: 40px;
  margin-left: 24px;
  display: flex;
}

.searchbydate {
  width: 26.6%;
  height: 56px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 72, 0.25);
  background-color: #ffffff;
  margin-left: 16px;
  margin-top: 40px;
  margin-right: 24px;

}

.searchicon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  opacity: 0.6;
  margin: 16px 16px 16px 12px;
}

.searchinput {
  width: 90%;
  padding-top: 6px;
  border: none;
}

.tarixgoster {
  width: 141px;
  height: 19px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 72, 0.4);
  margin: 19px 0px 18px 16px;
}

.archivecatsdiv {
  width: 78.4%;
  margin-left: 10%;
}

.archivecats {
  width: 100%;
  display: flex;
  margin-top: 24px;
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-left: 6%;
}

.musteri {
  margin-right: 13%;
  margin-left: 24px;
  color: #000048;
}




.musterielaqe {
  width: 5%;
  margin-right: 14.5%;
  color: #000048;
}

.sifarisdeyer {
  width: 10%;
  margin-right: 8%;
  color: #03c56d;

}

.sifarisqiymet {
  width: 5%;
  margin-right: 5%;
  color: #000048;
}

.sifarisvaxt {
  width: 5%;
  margin-right: 5%;
  color: #000048;

}

.sifaristarix {
  width: 5%;
  color: #000048;
}

.allarchivedocs {
  width: 78.4%;
  margin-left: 10%;
}

.sifarisdetalarxiv {
  width: 100%;
  height: 96px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  margin-bottom: 8px;
  cursor: pointer;
}




.archiveordid {
  text-align: center;
  width: 48px;
  height: 20px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  background-color: #f7f7f9;
  border-radius: 4px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;
}

.archiveordmusteri {
  margin-right: 5.4%;
  width: 148px;
  margin-top: 4px;

}
.musteriunvan {
  margin-top: 0px;
}
.musterifull {
  margin-bottom: 4px;
}
.archiveordphnom {
  width: 130px;
  margin-right: 8.4%;
  margin-top: 20px;
}

.archiveorddeyer {
  margin-top: 18px;
  margin-right: 8.2%;
}

.archiveordqiymet {
  margin-top: 20px;
  margin-right: 5%;
}

.archiveordvaxt {
  margin-top: 20px;
  margin-right: 5%;
}
.archiveordtarix {
  margin-top: 20px;
  height: 40px;
}

.musteriunvan {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
}

.thumbsup {
  width: 120px;
  height: 24px;
}

.thumbsdup {
  width: 120px;
  height: 24px;
  margin-top: 10px;
  margin-left: 46px;
}

.muddetrate {
  display:  flex;
}

.allarchivedocs p {}

.testgorek {
  position: relative;
}

.react-datepicker-component .react-datepicker-input {
  position: relative;
  min-width: 150px;
  height: 56px !important;
  border: none !important;
  background: white !important;

}

.react-datepicker .react-datepicker-container .react-datepicker-top {
  text-align: center;
  background: white !important;
  color: #000048 !important;
  border: none !important;
}

.react-datepicker .react-datepicker-container  {
  width: 100% !important;
  height: 258px !important;
  border-radius: 4px !important;
  box-shadow: 0 16px 26px -1px rgba(10, 22, 70, 0.1), 0 0 1px 0 rgba(10, 22, 70, 0.06) !important;
  border: solid 1px #f7f9fa !important;
  background-color: #ffffff !important;
}
.react-datepicker .react-datepicker-container .react-datepicker-top .week-days .week-day {
  width: 32px !important;
  height: 32px !important;
  font-family: Inter !important;
  font-size: 12px !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-align: center !important;
  color: #777777 !important;
}

.react-datepicker .react-datepicker-container .react-datepicker-body {
  border-top: 1px solid #dfdfdf !important;
  border-left: 1px solid #dfdfdf !important;
  border-right: 1px solid #dfdfdf !important;
  border-bottom: 1px solid #dfdfdf !important;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-left: 13px  !important;
  margin-right: 13px  !important;
  margin-bottom: 3px  !important;
}

.react-datepicker .react-datepicker-container .react-datepicker-body .react-datepicker-row .react-datepicker-picker.selected.current {
  color: #ffffff !important;
  background: #03c56d !important;
}

.react-datepicker .react-datepicker-container .react-datepicker-body .react-datepicker-row .react-datepicker-picker.current:hover {
  color: #ffffff !important;
  background: #03c56d !important;
}
.react-datepicker .react-datepicker-container .react-datepicker-body .react-datepicker-row:not(:last-child) {
  border: none !important;
}
.react-datepicker .react-datepicker-container .react-datepicker-body .react-datepicker-row .react-datepicker-picker.current {
  font-weight: 600;
  color: #354052;
  background: #f0f3f8;
}

.react-datepicker .react-datepicker-container .react-datepicker-body .react-datepicker-row .react-datepicker-picker.current:hover {
  color: #354052;
  background: #dfe5f0;
}

.react-datepicker-top::before {
  display: none !important;
}

.react-datepicker-component .react-datepicker-input .button-wrapper .input-button {
  color: #03c56d !important;
}

span {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.archivemodalpoint {
  display: flex;
}

.hazirlanamuddet {
  object-fit: contain;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000048;
}

.hazirlanmamuddetyemek {
  width: 122.87px;
  object-fit: contain;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000048;
}

.landingpage {
  width:  100%;
  height: 1024px;
  display: flex;
}

.loginleft {
  width: 61% ;
  height: 1024px;
  background-color: #fafaff;
} 

img.logoindex {
  width: 134px;
  height: 24px;
  object-fit: contain;
  margin-top: 7%;
  margin-left: 11.5%;

}

img.landingimg {
  width: 80%;
  height: 530px;
  object-fit: contain;
  margin: 14% 8% 9% 11%;
}

.footerlinks {
  width: 50%;
  height: 28px;
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.5px;
  color: #000048;
  margin-left: 11.5%;
}

.loginright {
  width: 39%;
  height: 1024px;
  background-color: #ffffff;
}

h5.loginhead {
  width: 47.5%;
  height: 3.5%;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.75px;
  color: #000048;
  margin: 31% 30% 8% 22.5%;
}

#or {
  position: relative;
  width: 55%;
  height: 5%;
  line-height: 50px;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 72, 0.4);
  margin-top: 4%;
  margin-left: 22.5%;
}

#or::before,
#or::after {
  position: absolute;
  width: 42%;
  height: 1px;
  top: 24px;
  background-color: #d9d9e4;
  content: '';
}
#or::before {
  left: 0;
}
#or::after {
  right: 0;
}

.logincredentials_input{
  margin-left: 22%;
}

.emailcredential {
  width: 74%;
  height: 56px;
  border-radius: 4px;
  border: solid 1px #d9d9e4;
  background-color: #ffffff;
  margin-bottom: 32px;
}

.passwordcredential {
  width: 74%;
  height: 56px;
  border-radius: 4px;
  border: solid 1px #d9d9e4;
  background-color: #ffffff;
  display: flex;
}

.passwordcredentialreset {
  width: 74%;
  height: 56px;
  border-radius: 4px;
  border: solid 1px #d9d9e4;
  background-color: #ffffff;
  display: flex;
  margin-bottom: 32px;
}

.logincredentials_input input {
  border: none;
  width: 80%;
  height: 30px;
  margin-left: 5%;
  margin-top: 3.5%;
}

.showpassword {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin: 16px 16px 13px 16px;
}

.loginsettings {
  margin-top: 20px;
  width: 76%;
  display: flex;
}
.rememberme {
  display: flex;
  text-align: center;
  align-items: center;
}

input.remembercheck {
  width: 20px;
  height: 20px;
}

.textofremember {
  width: 120px;
  height: auto;
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.44px;
  color: #000048;
}
a {
  text-decoration: none;
}


.uforgotpass {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.44px;
  text-align: right;
  color: #0e7ff5;
  margin-left: 60px;
  text-decoration: none;
  cursor: pointer;
}

.signin {
  width: 74%;
  height: 56px;
  border-radius: 4px;
  background-color: #03c56d;
  border: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  margin-top: 42px;
  cursor: pointer;
}

.notfoundscreen {
  background-color: #ffffff;
  width: 100%;
  height: 936px;
}

.upsnotfoundimg {
  padding-top: 10%;
  width: 100%;
  display: block;
  transform: scale(1.2);
}

.backtohome {
  width: 15%;
  height: 56px;
  background-color: #03c56d;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.55;
  align-self: center;
  vertical-align: middle;
  margin-left: 40%;
  margin-top: 5%;
 cursor: pointer;
}

.recoverpage {
  margin-left: 18%;
  margin-top: 10%;
}
.resetpage {
  margin-left: 18%;
  margin-top: 50%;
}

.recoverpagesucced {
  margin-left: 18%;
  margin-top: 59.5%;
}

.gobacklogin {
  width: 26%;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #d9d9e4;
  background-color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #000048;
  margin-bottom: 50%;
  cursor: pointer;
}

.pswrdrecov {
  width: 80%;
  height: 36px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.75px;
  color: #000048;
}

.emailrecoverycl {
  margin-top: 10%;
  width: 100%;
  height: 56px;
  background-color: #ffffff;
}


.recoverinputemail {
  width: 72.5%;
  height: 56px;
  border-radius: 4px;
  border: solid 1px #d9d9e4;
  background-color: #ffffff;
}


.submitrecov {
  width: 74%;
  height: 56px;
  border-radius: 4px;
  background-color: #03c56d;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-top: 10%;
  cursor: pointer;
}


.submitreset {
  width: 74%;
  height: 56px;
  border-radius: 4px;
  background-color: #03c56d;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.checkedimg {
  width: 36px;
  background-color: #03c56d;
  border-radius: 50%;
  margin-left: 32%;
}

.checkemail {
  width: 74%;
  height: 36px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.75px;
  text-align: center;
  color: #000048;
}

.mailinstructions {
  width: 78%;
  height: 46px;
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000048;
}

.category_body {
  width: 18%;
  height: 936px;
  box-shadow: 4px 20px 25px 0 rgba(112, 112, 112, 0.15);
  border: solid 1px #f4f4f4;
  background-color: #ffffff;
  margin-left: 80px;
}

.category_top {
  width: 100%;
  height: 34px;
  text-align: center;
  border-bottom: 1px solid #b5b5b5;
}

.category_topname {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #03c56d;
  padding: 0px 0px 0px 0px;
  vertical-align: middle;
}

.category_body_categories {
  width: 100%;
  height: 54px;
  display: flex;
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
}

.category_body_categories:focus {
  width: 100%;
  height: 54px;
  display: flex;
  border-bottom: 1px solid #000048;
}
.category_nameself {
  height: 19px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000048;
  margin-top: 18.5px;
  margin-bottom: 18.5px;
}
.category_icon {
  width: 24px;
  height: 24px;
  margin-top: 16px;
  margin-left: 6px;
}

.idnoshow {
  display: none;
}

.react-switch {
  border: solid 1px #d9d9e4 !important;
}

.kuryersecin {
  width: 65%;
  height: 34px;
  margin: 30px 26px 6px 8%;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 72, 0.25);
  background-color: #ffffff;
}

.react-dropdown-select {
  border: none !important;
}

.kuryerassignhead {
  display: flex;
}

.assigncur {
  width: 99px;
  height: 19px;
  margin: 7px 60% 7px 10px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 72, 0.4);
}

.kuryerlerlist {
  display: none;
  width: 26%;
  margin: -10px 26px 4px 3.3%;
  height: auto;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 4px;
  box-shadow: 0 4px 24px 0 rgba(102, 102, 102, 0.24);
  background-color: #ffffff;
  position: absolute;
}

.kuryersecimdetal {
  width: 100%;
  display: flex;
  margin: 10px 2px 6px 2px;
}

.kuryersecin_ad {
  width: 300px;
  margin: 5px 50% 5px 8px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000048;
}

.kuryersecin_sifarissay {
  margin: 5px 4px 5px 5%;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000048;
}

.kuryersecin_img{
  width: 22px;
  height: 22px;
}

.kuryerheaddropdown {
  width: 24px;
  height: 24px;
  margin-top: 6px;
  margin-left: 5%;
}

.issaatbody {
  display: none;
}

.heftegunleri {
  display: flex;
}

.heftegunleri p {
  width: 300px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000048;
}

.saatsec {
  vertical-align: middle;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.form-control {
  width: 90px;
  height: 48px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 72, 0.25);
  background-color: #ffffff;
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000048;
  font-weight: 600;
}

.radioinput{
  margin: auto;
}

input[type='radio']:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: #03c56d;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}