
 .kuryerlercategory {
    display: flex;
  }
  
  
  p .kuryercategorydet {
    height: 17px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 72, 0.4);
    margin-right: 100px;
  }
  